<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>template</title>
<link href="css/tem.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<header>
			<h4>GRID</h4>
		</header>
		<section>
			<div class="name">
				<h3>阿黎</h3>
			<img src="img/head.jpeg" width="200px" height="200px">
			</div>
			
			<div class="introduce">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
			</div>
		</section>
		<div class="gallery"></div>
		<div class="gallery"></div>
		<footer id="contact">
			<p class="touch">GET IN TOUCH WITH ME</p>
			<div class="button">EMAIL ME</div>
		</footer>
		<div class="data">&copy;2015 - <strong>GRID</strong></div>
	</div>
</body>
</html>
